# Node dependencies
node_modules/
npm-debug.log

# System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs and databases
*.log
*.sqlite

# IDE and Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
.next/
out/
